{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["Bearer <AUTH_TOKEN>"]}, "method": "GET", "uri": "https://api.linkedin.com/v2/me"}, "response": {"body": {"encoding": null, "string": "{\"localizedLastName\":\"Baumgold\",\"lastName\":{\"localized\":{\"en_US\":\"Baumgold\"},\"preferredLocale\":{\"country\":\"US\",\"language\":\"en\"}},\"firstName\":{\"localized\":{\"en_US\":\"David\"},\"preferredLocale\":{\"country\":\"US\",\"language\":\"en\"}},\"profilePicture\":{\"displayImage\":\"urn:li:digitalmediaAsset:C4D03AQHNjOV4dD-ycg\"},\"id\":\"2buu0-CgZ5\",\"localizedFirstName\":\"David\"}"}, "headers": {"X-LI-ResponseOrigin": ["RGW"], "Content-Type": ["application/json"], "X-RestLi-Protocol-Version": ["1.0.0"], "X-Li-Fabric": ["prod-ltx1"], "X-Li-Pop": ["prod-edc2"], "X-LI-Proto": ["http/1.1"], "X-LI-UUID": ["/zhyGXP1nhXgLM38VysAAA=="], "X-LI-Route-Key": ["\"b=TB88:g=1690:u=59:i=1557952395:t=1558038401:s=AQGRXVPX7kRWl22EQESdySYldS7eX4py\""]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.linkedin.com/v2/me"}, "recorded_at": "2019-05-15T20:33:15"}], "recorded_with": "betamax/0.8.1"}